body{
    margin:0px;
    font-family: Notolight;
}
nav {   
    height: 4rem;
    padding: 0px 10% 5px 10%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    border-bottom-style:solid;
    border-bottom-color: rgb(233, 233, 233);
    border-bottom-width: 1px;
}
.name{
    width:fit-content;
    height: fit-content;
    margin-left:10px;
    
}
.cv{
    margin-right:10px;
    width:fit-content;
    height: fit-content;
}
.main{
    padding: 10% 20% 13% 20%;
    height: 100%;
    
    /* font-family: NotoReg; */
}
#project{
    margin-top: 100px;
    padding: 0px 10% 0px 10%;
}
.items{
    display: grid;
    grid-template-columns: auto auto;
    
}
.item{
    border: 1px solid  rgb(233, 233, 233);
    width: 80%; 
    margin: 10px 0px;
    padding:   20px;
    border-radius: 10px;
}
.tools{
    
    font-size: smaller;
}
.icons a{
    font-size:larger;
    margin: 12px;
}
a{
    text-decoration: none;
    color: black;
}
.emoji{
    font-size: 100px;
    padding: 0px;
    margin: 0px;
    display: inline;
}        
ul{
    list-style-type: none;
}
li{
    display: inline-block;
    margin: 5px;
}
button{
    margin:0px;
    border: 0px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgb(170, 223, 238);
}
b{
    font-family: NotoBold;
}
footer{
    height: 10%;
    background-color:  rgb(210, 238, 245);
    padding: 30px;
    margin-top: 30px;

}
@font-face {
    font-family: Noto;
    src: url("fonts/NotoSansJP-Medium.otf");
}
@font-face {
    font-family: NotoBold;
    src: url("fonts/NotoSansJP-Bold.otf");
}     
@font-face {
    font-family: Notolight;
    src: url("fonts/NotoSansJP-Thin.otf");
}
@font-face{
    font-family: NotoReg;
    src: url("Css/fonts/NotoSansJP-Light.otf");
}